
online_manifests_dir="online_manifests"
# Directory of git repo which will contain edited manifests
mirror_manifests_dir="scoop_repo_local"
# Prefix used in manifests
mirror_prefix="http://example.com/scoop/files"
# Directory with files used in manifests 
files_dir="./files"
# Directory with downloaded repos
repos_dir="buckets"
# Sync file for downloading binaries
sync_file="./sync.sh"
# Use or not git to make syncable mirror
use_git="1"
# List of repos (buckets), which will be downloaded 
repos="https://github.com/ScoopInstaller/Main.git main
https://github.com/ScoopInstaller/Extras.git extras"

# List of manifests used to make local scoop mirror
manifests="extras/bucket/audacity.json audacity
extras/bucket/blender.json blender"
